* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 68, 61);
    font-family: sans-serif;
    color: aliceblue;
    padding: 1em;
}
h1{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: brown;
}
.container {
    display: grid;
    grid-template-columns: 3, 1fr;
    gap: 1em;
    padding: 1em;
    max-width: 1em;
}
.pokemon{
    display: flexbox;
    flex-direction: row;
    align-content: center;
    gap: 1em;
    padding: 2em;
    border-radius: 2em;
    background-color: bisque;
    color: black;
}
.pokemon-name{
    text-align: center;
    font-size: 2em;
    color: black;

}
.pokemon-desccription{
    line-height: 1.36em;
}
.pokemon-powers{
    display: flexbox;
    flex-wrap: wrap;
    gap: 0.5em;
    list-style: none;
    
}
.pokemon-skill{
    padding: 0.4em;
    border-radius: 0.4em;
    font-size: .75em;
    background-color: rgb(226, 173, 103);
}
.pokemon-type{
    padding: 0.5em 0.75em 0.5em 0.75em;
    background-color: red;
    border-radius: 1.6em;
    text-align: center;
    color: aliceblue;
    font-weight: bold;

}

.pokemon-image{
    width: 100%;
    max-width: 200%;
    border-radius: 50%;
    overflow: hidden;
    background-color: firebrick;
}
